.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999; /* Fo9 koulchi */
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  overflow: hidden;
  background: transparent;
  perspective: 1000px;
}

.container.active {
  opacity: 1;
  pointer-events: all;
  background: rgba(0, 0, 0, 0.8); /* Kaydalem chwia bach yban l'effet */
}

/* L'effet dyal Njoum/Streaks */
.stars {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 2px;
  background: white;
  border-radius: 50%;
  box-shadow: 
    0 0 0 0px #fff,
    /* Plein de "shadows" bach nsawbo njoum bla ma nktro divat */
    -200px -100px 0 0px #fff,
    200px -300px 0 0px #fff,
    -100px 200px 0 0px #fff,
    300px 100px 0 0px #fff,
    -400px -200px 0 0px #fff,
    400px 300px 0 0px #fff,
    -300px -400px 0 0px #fff,
    100px 400px 0 0px #fff;
  
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.1);
}

.active .stars {
  animation: warpSpeed 0.8s ease-in forwards;
}

/* Flash lbyed flkher bach tban transition n9iya */
.flash {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  opacity: 0;
}

.active .flash {
  animation: flashBang 0.8s ease-in forwards;
}

@keyframes warpSpeed {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(0.1);
    box-shadow: 
      0 0 0 0px #fff,
      -200px -100px 0 0px #fff,
      200px -300px 0 0px #fff,
      -100px 200px 0 0px #fff,
      300px 100px 0 0px #fff;
  }
  40% {
    opacity: 1;
    /* Kaytjybdou */
    box-shadow: 
      0 0 0 20px rgba(255,255,255,0.1),
      -200px -100px 0 20px rgba(255,255,255,0.1),
      200px -300px 0 40px rgba(255,255,255,0.1),
      -100px 200px 0 30px rgba(255,255,255,0.1),
      300px 100px 0 50px rgba(255,255,255,0.1);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(40); /* Zoom kbir */
  }
}

@keyframes flashBang {
  0%, 80% { opacity: 0; }
  90% { opacity: 1; } /* Flash */
  100% { opacity: 0; }
}